.highlighted {
  outline: 2px solid blue;
  background-color: rgba(173, 216, 230, 0.5);
  transition: background-color 0.3s ease;
}

.gaze-dot {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(68, 0, 255);
  z-index: 10000;
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-out;
}

.unfocusing {
  transition: all 0.3s ease;
}

.none {
  display: none;
}